<table border="solid">
  <thead >
    <tr>
      <td> Name</td>
      <td> age</td>
      <td> role</td>
    </tr>
  </thead>
  <tbody >
    <% @users.each do |user|%>
    <tr>
    <td> <%= user.name%></td>
    <td> <%= user.age%></td>
    <td> <%= user.role%></td>
    </tr>
    <%end%>
  </tbody>
</table>

<%= link_to 'back', new_user_path%>